[submodule "Assets/ThirdParty"]
	path = Assets/ThirdParty
	url = git@bitbucket.org:thurn/magewatch-private.git
[submodule "Assets/Arcadia"]
	path = Assets/Arcadia
	url = https://github.com/arcadia-unity/Arcadia.git
